@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

:root{
    --first-color: #c5ebd6;
    --second-color: #83e1ad;
    --third-color: #3ddc84;
    --fourth-color: #2fa866;
    --fifth-color: #1a5c37;
    --sixth-color: #063d1e;

    --font-principal: Arial, Verdana, Helvetica, sans-serif;
    --font-emphasis: 'Bebas Neue', cursive; 
    --font-android: 'Android', cursive;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--first-color);
    font-family: var(--font-principal);
}

header{
    background-color: var(--fifth-color);
}

header > h1{
    color: white;
    font-family: var(--font-emphasis);
}

header > p{
    color: white;
}

nav{
    background: var(--sixth-color);
}

main{
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.555);
    border-radius: 0px 0px 15px 15px;
}

main h1{
    font-family: var(--font-android);
}

main h2{
    font-family: var(--font-android);
}

main img{
    width: 100%;
}

main img.pequena{
    width: 50%;
    display: block;
    margin: auto;
}

footer{
    background-color: var(--sixth-color);
    color: white;
}